*{
  margin: auto;
}
.App {
  text-align: center;
  background-image: url(../public/Green\ and\ Yellow\ Avocado\ Fruit\ Pattern\ Virtual\ Background\ \(1\).png);
  height: 100vmax;
  padding-top: 5%;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: #356211;
  border-radius: 25px;
  padding: 2% 2% 2% 2%;
  margin-bottom: 100px;

}

#passage{
  text-align: left;
  padding: 2% 2% 2% 2%;
  margin: 5% 5% 5% 5%;
  background-color: #F2E880;

}

.header{
  margin-top: 5%;
  color: #F2E880;
}
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.link-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.link-button:hover {
  background-color: #0056b3;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-link {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.user-link:hover {
  color: #0056b3;
}